name: Go Build & Test
on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "*"
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        # os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    name: Build & Test
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: "./go.mod"

      - uses: actions/cache@v5
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      # don't execute tests in parallel - will collide with reusable testcontainers
      - name: Build & Test
        run: |
          go build -v
          go test ./... -p 1
